*{
    margin: 0.2rem; 
    padding: 0.2rem; 
    box-sizing: border-box;
} 
    body{
        display: grid;
        max-width: 1200px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin: auto;
        grid-template-areas: 
        "header"
        "section"
        "footer";
    }

    
     .header{
        background:url('../images/header.jpg');
        background-position: center;
        background-attachment:scroll;
        background-size: cover;
        display: grid;
        height: 250px;
        position: relative;
        grid-area: header;
        grid-template-areas: 
        "menu menu menu menu"
        "texto-cabecera texto-cabecera texto-cabecera texto-cabecera";
        
        
    }
        .menu{
           
            display: grid;
            grid-area: menu;
            grid-template-areas: 
            "logo nav nav nav social";
        }
            .logo{
                display: grid;
                grid-area: logo;
                max-width: 80px;
                animation: animacion-logo 2s ease-in;
                
            }
                
            .nav{
                display: grid;
                grid-area: nav;
                grid-template-areas: 
                "inicio rutas hoteles vuelos contacto";
            }
                .nav a{
                    color: gray;
                    text-decoration: none;
                    -webkit-transition: all .5s ease;
                    -moz-transition: all .5s ease;
                    -o-transition: all .5s ease;
                    -ms-transition: all .5s ease;
                    transition: all .5s ease;
                
                    
                }
                .nav a:hover{
                    -webkit-transform:  scale(0.5);
                    transform: scale(1.5);
                }
                    .inicio{
                        grid-area: inicio;
                    }
                    .rutas{
                        grid-area: rutas;
                    }
                    .hoteles{
                        grid-area: hoteles;
                    }
                    .vuelos{
                        grid-area: vuelos;
                    }
                    .contacto{
                        grid-area: contacto;
                    }
            .social{
                display: grid;
                grid-area: social;
                grid-template-areas: 
                ". . . facebook twitter";
            }
                .social a{
                    color: gray;
                    -webkit-transition: all .5s ease;
                    -moz-transition: all .5s ease;
                    -o-transition: all .5s ease;
                    -ms-transition: all .5s ease;
                    transition: all .5s ease;
                
                }
                .social a:hover{
                    -webkit-transform:  scale(1);
                    transform: scale(1.5);
                }
                .facebook{
                    grid-area: facebook;
                }
                .twitter{
                    grid-area: twitter;
                }
        .texto-cabecera{
            display: grid;
            grid-area: texto-cabecera;
            background-color: rgba(133, 132, 131, 0.2);
            width: 80% ;
            height: 6rem;
            align-self:center;
            position: absolute;
            bottom: 0;
            justify-self: center;
            grid-template-areas: 
            ". . h1 h1 h1 ..";
        }   
            h1{
                color: rgba(233, 136, 79, 0.8);
                font-size: 1.5rem;
                margin-top: 1rem;
                animation: animacion-titulo 2s ease-in;
                grid-area: h1;
                justify-self: center;
            } 
    .section{
        background: white;
        display: grid;
        grid-area: section;
        grid-template-areas: 
        "articulos articulos articulos articulos aside";
    }
        .articulos{
            background: #DDDDDD;
            display:grid;
            grid-area: articulos;
            grid-template-areas: 
            "article1 article2"
            "article3 article4"
            "p-finalsection p-finalsection";
        }
            article{
                background: #F7F6F2;
               
                
                
            }
            .article1{
                grid-area: article1;
                grid-template-areas: 
                "foto"
                "titulo-articulo"
                "p-articulo"
                "."
                "leermas";
            }
            .article2{
                grid-area: article2;
                grid-template-areas: 
                "foto"
                "titulo-articulo"
                "p-articulo"
                "."
                "leermas";
                
            }
            .article3{
                grid-area: article3;
                grid-template-areas: 
                "foto"
                "titulo-articulo"
                "p-articulo"
                "."
                "leermas";
            }
            .article4{
                grid-area: article4;
                grid-template-areas: 
                "foto"
                "titulo-articulo"
                "p-articulo"
                "."
                "leermas";
            }
                .foto{
                    position: relative;
                    max-height: 426px;
                    display: grid;
                    grid-area: foto;
                    
                }
               
                    img{
                        width: 100%;
                        display: block;
                        margin-left: 0;
                        padding-left: 0;
                        padding-right: 0;
                        object-fit: cover;

                    }
                    .fecha{
                        position: absolute;
                        bottom: 0;
                        left: 1rem;
                        color: yellow;
                    }
                        
                .titulo-articulo{
                    background: #FE8F8F;
                    color: white;
                    font-size: 1.5rem;
                    padding-bottom: 0rem;
                    padding-top: 1rem;
                    margin-top: 0.6rem;
                    grid-area: titulo-articulo;
                }
                .p-article{
                    color: gray;
                    background: #F7F6F2;
                    grid-area: p-articulo;
                }
                .leermas{
                    color: gray;
                    text-decoration: none;
                    grid-area: leermas;
                                        
                }
               
            .parrafo{
                background: #DDDDDD;
                grid-area: p-finalsection;
            }
        .aside{
            background: #DDDDDD;
            grid-area: aside;
            grid-template-areas: 
            "titulo-aside"
            "p-aside";
            

        }
            .titulo-aside{
                background: #DDDDDD;
                grid-area: h3;
                text-align: center;
                font-size: 1.5rem;
                margin: 20px;
                
            }
            p{
                display: grid;
                background: #DDDDDD;
                grid-area: p-aside;
                text-align:center;
            }
    .footer{
        background: #DDDDDD;
        display: grid;
        grid-area: footer;
        grid-template-areas: 
        "pie-pagina";
    }
        .pie-pagina{
            background: #F7F6F2;
            color: gray;
            grid-area: pie-pagina;  
            width:95%;
            justify-self: center;  
            text-align: center;        
        }
@media all and (max-width: 768px){
    .section{
        grid-template-areas: 
        "articulos"
        "articulos"
        "articulos"
        "aside";
    }
}
@media all and (max-width: 470px){
    
    .menu{
        grid-template-areas: 
        "logo"
        "nav"
        "social"
        "."
        ".";
    }
    .articulos{
        grid-template-areas: 
        "article1"
        "article2"
        "article3"
        "article4";
    }
    .logo{
        max-width: 50px;
        justify-self: center;
    }
}
@keyframes animacion-logo{
    0%{
        opacity: 0;
        transform: rotate(360deg);
    }
    100%{
        opacity: 1;
        transform: rotate(0);
    }
}
@keyframes animacion-titulo{
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}